.messageContainer {
    padding: 1em;
    display: flex;
    align-items: flex-end;
    background-color: #A7E700
}

.messageContainer img {
    border-style: solid;
    height: 2.5em;
    width: 2.5em;
    border-radius: 2.5em;

}

.message {
    position: relative;
    border-radius: .5em .5em .5em 0;
    background: #0e3819;
    padding: .5em 3.25em .75em .75em;
    margin-left: .5em;
    color: #ffffff;
    max-width: 70vw;
}

.message::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    width: .8em;
    height: .8em;
    background: radial-gradient(1.6em at top left, transparent 50%, #0e3819 50%) no-repeat right bottom;
}

.name {
    color: #c0a6ea;
    font-weight: bold;
}

.time {
    position: absolute;
    bottom: .5em;
    right: .75em;
    opacity: .5;
}


