.affairRow {
    margin: 10px 5px;
    display: flex;
    max-width: 380px;
}

.affairName {
    font-weight: bold;
    width: 230px;
    color: white;
}

.affairPriority {
    width: 90px;
}

.high {
    color: red;
}

.middle {
    color: yellow;
}

.low {
    color: green;
}