.superInput {
    outline: none;
    margin: 0;
    border: 1px solid #999;
    -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 15px;
}

.errorInput {
    background-color: #fce4e4;
    border: 1px solid #cc0033;
    outline: none;
}

.error {
    line-height: 2;
    color: #cc0033;
}