.container {
    font-family: Helvetica, Arial, sans-serif;
    margin: 10px 20px;
    display: flex;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.container label {
    line-height: 20px;
    margin-bottom: 5px;
}

.container button {

    margin: 24px 10px;
}

.error label {
    color: #cc0033;
}